body {
    display:flex;
    justify-content: center;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(155, 154, 154);
}

.square {
    box-sizing: border-box;
    width: calc(960px/16); 
    height: calc(960px/16);
    background-color: rgb(255, 255, 255);
    margin:0px;
    border: 1px solid rgba(204, 204, 204, 0.507);
}